<%- include('includes/head.ejs') %>

    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        % if (prods.length > 0) { %>
        <h3>Available Products: </h3>
        <ul>
            <% prods.forEach((prod)=> { %>
                <li>
                    <%= prod %>
                </li>
                <% }); %>
        </ul>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>